* {
  box-sizing: border-box;
}

html {
  background: url(https://i.pinimg.com/originals/69/b9/0e/69b90ed4e4087e02faaaccf33a843dfb.jpg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}

#startImg {
  opacity: 0.8;
  width: 350px;
  height: 250px;
  border-radius: 10px;
  margin: 15px auto 55px;
}

#endImg {
  opacity: 0.8;
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

form img:first-of-type {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.startQuizBtn, .restartQuizBtn {
  background-color: #C64C65;
  border: solid 1px black;
  height: 50px;
  width: 200px;
}

.startQuizBtn {
  margin-top: 20px;
}

.nextQuestion {
  background-color: #C64C65;
  border: solid 1px black;
  height: 50px;
  width: 300px;
}

.questionContainer {
  background-color: #ADCBC5;
  border: solid .5px black;
  height: 100px;
  width: 300px;
  margin: 5px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

/*.answerContainer {
  display: inline-block;
}*/

input[type="button"]:nth-child(1) {
  background-color: #C64C65;
  border: solid .5px black;
  height: 150px;
  width: 150px;
  white-space: normal;
  border-radius: 100%;
  float: left;
}

input[type="button"]:nth-child(2) {
  background-color: #ED848F;
  border: solid .5px black;
  height: 150px;
  width: 150px;
  white-space: normal;
  border-radius: 100%;
  float: right;
}

input[type="button"]:nth-child(3) {
  background-color: #E8CED6;
  border: solid .5px black;
  height: 150px;
  width: 150px;
  white-space: normal;
  border-radius: 100%;
  float: left;
  margin-top: 15px;
}

input[type="button"]:nth-child(4) {
  background-color: #9BBBA8;
  border: solid .5px black;
  height: 150px;
  width: 150px;
  white-space: normal;
  border-radius: 100%;
  float: right;
  margin-top: 15px;
}

.align_heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -20px;
}

.align_heading h1 {
  font-size: 40px;
}

fieldset {
  border: 0;
  padding-top: 10px;
}

.answerResult {
  font-size: 20px;
  font-weight: 500;
}

.answerExplain {
  margin-top: 10px;
}

.feebackExplaination {
  margin-top: 15px;
}