* {
  box-sizing: border-box;
}

html {
  background: url(https://i.pinimg.com/originals/69/b9/0e/69b90ed4e4087e02faaaccf33a843dfb.jpg) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}

#startImg {
  opacity: 0.8;
  width: 340px;
  height: 250px;
  border-radius: 10px;
  margin: 25px auto 40px;
}

#endImg {
  opacity: 0.8;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-top: 20px;
}

form img:first-of-type {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.startQuizBtn, .restartQuizBtn {
  background-color: #C64C65;
  border: solid 1px black;
  height: 50px;
  width: 200px;
}

.startQuizBtn {
  margin-top: 20px;
}

.restartQuizBtn {
  margin-top: 15px;
}

.nextQuestion {
  background-color: #C64C65;
  border: solid 1px black;
  height: 50px;
  width: 300px;
}

.questionContainer {
  background-color: #ADCBC5;
  border: solid .5px black;
  height: 100px;
  width: 200px;
  margin: 20px auto -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50%;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 200px;
  max-width: 300px;
  padding: 25px;
}


input[type="button"]:nth-child(1) {
  background-color: #C64C65;
  border: solid .5px black;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  white-space: normal;
  border-radius: 100%;
}

input[type="button"]:nth-child(2) {
  background-color: #ED848F;
  border: solid .5px black;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-top: -10px;
  white-space: normal;
  border-radius: 100%;
}

input[type="button"]:nth-child(3) {
  background-color: #E8CED6;
  border: solid .5px black;
  height: 100px;
  width: 100px;
  white-space: normal;
  border-radius: 100%;
}

input[type="button"]:nth-child(4) {
  background-color: #9BBBA8;
  border: solid .5px black;
  height: 100px;
  width: 100px;
  margin-left: 10px;
  white-space: normal;
  border-radius: 100%;
}

input[type="button"]:nth-child(1):hover, input[type="button"]:nth-child(1):focus, input[type="button"]:nth-child(2):hover, input[type="button"]:nth-child(2):focus, input[type="button"]:nth-child(3):hover, input[type="button"]:nth-child(3):focus, input[type="button"]:nth-child(4):hover, input[type="button"]:nth-child(4):focus {
  background-color:rgba(0, 0, 0, 0.1);
}

button:hover, button:focus {
  background: #E8CED6;
}

.align_heading h1 {
  font-size: 26px;
  margin-top: 25px;
}

fieldset {
  border: 0;
}

.answerResult {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.answerExplain {
  margin: 10px auto;
  width: 300px;

}

.feebackExplaination {
  margin: 15px auto -10px;
  width: 300px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  #startImg {
    opacity: 0.8;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin: 0 auto 25px;
  }

  .align_heading h1 {
    font-size: 36px;
    margin: 0 auto;
    width: auto;
    display: block;
    margin-top: 80px;
    margin-bottom: 25px;
  }

  .startQuizBtn, .restartQuizBtn {
    background-color: #C64C65;
    border: solid 1px black;
    height: 55px;
    width: 200px;
    font-size: 16px;
  }

  .current_score {
    position: absolute;
    top: 30px;
    right: 30px;
  }

  .question_index {
    position: absolute;
    top: 50px;
    right: 27px;
  }

  .answerContainer {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 150px;
    max-width: 500px;
    padding: 25px;
  }

  input[type="button"]:nth-child(1) {
    background-color: #C64C65;
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    margin-bottom: 10px;
  }

  input[type="button"]:nth-child(2) {
    background-color: #ED848F;
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    margin-top: -10px;
  }

  input[type="button"]:nth-child(3) {
    background-color: #E8CED6;
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
  }

  input[type="button"]:nth-child(4) {
    background-color: #9BBBA8;
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
  }

  .questionContainer {
    background-color: #ADCBC5;
    border: solid .5px black;
    font-size: 18px;
    height: 125px;
    width: 300px;
    margin: 5px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
  }

  form img:first-of-type {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px auto 10px;
  }

  .answerExplain {
    margin: 10px auto 5px;
    font-size: 18px;
    width: 50%;
  }

  .answerResult {
    margin-top: -10px;
  }

  .feebackExplaination {
    margin: 5px auto -20px;
    font-size: 20px;
    width: 400px;
  }

  h2 {
    font-size: 18px;
    margin-top: -5px;
  }

  #endImg {
    margin-top: -10px;
  }
}

@media screen and (min-width: 1024px) {
  #startImg {
    opacity: 0.8;
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin: 0 auto 25px;
  }

  .answerContainer {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 150px;
    max-width: 500px;
    padding: 25px;
  }
  
  input[type="button"]:nth-child(1) {
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    background-color: #C64C65;
    margin-bottom: 25px;
  }
  
  input[type="button"]:nth-child(2) {
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    background-color: #ED848F;
    margin-left: 30px;
    margin-top: -29px;
  }
  
  input[type="button"]:nth-child(3) {
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    background-color: #E8CED6;
  }
  
  input[type="button"]:nth-child(4) {
    border: solid .5px black;
    height: 125px;
    min-width: 45%;
    font-size: 14px;
    white-space: normal;
    border-radius: 100%;
    background-color: #9BBBA8;
    margin-left: 30px;
  }
  
  .questionContainer {
    background-color: #ADCBC5;
    border: solid .5px black;
    font-size: 18px;
    height: 125px;
    width: 275px;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
  }

  button:hover, button:focus {
    background: #E8CED6;
  }

  form img:first-of-type {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin: 10px auto 20px;
  }

  .answerExplain {
    margin: 10px auto 15px;
    font-size: 22px;
    width: 50%;
  }

  .current_score {
    position: absolute;
    top: 20px;
    right: 30px;
  }
  
  .question_index {
    position: absolute;
    top: 40px;
    right: 28px;
  }

  .align_heading h1 {
    font-size: 36px;
    margin: 40px auto;
    width: auto;
    display: block;
  }

  .answerResult {
    margin-top: -10px;
  }

  .feebackExplaination {
    margin: 0 auto -10px;
    font-size: 20px;
    width: 400px;
  }

  button {
    font-size: 16px;
  }

  #endImg {
    margin-top: 1px;
  }

  h2 {
    margin-top: 0;
  }
}